@charset "utf-8";

.galleryrow{
    text-align: center;
}

.galleryimg {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  text-align: center;
}

body {
background-color: #9b30ff;
font-family: Arial, Tahoma, sans-serif;
color: #000000;
}
h1 {
color: #ffffff;
}
header {
background-color: #000000;
color: #ffffff;
text-align: center;
padding: 5px;
width: 80%;
margin-left: 10%;
}
#container {
width: 100%;
}

main {
width: 80%;
background-color: #ffffff;
float: left;
padding: 5px;
margin-left: 10%;
}
footer {
clear: both;
background-color: #000000;
color: #ffffff;
text-align: center;
margin-left: 10%;
padding: 5px;
font-size: 12pt;
width: 80%;
}


nav {
color: #000000;
padding: 5px;
width: 80%;
margin-left: auto;
margin-right: auto;
font-weight: bold;

}
nav ul {
list-style: none;
margin-left: auto;
margin-right:auto;
}
nav ul li {
float: left;
padding: 5px;

}
nav ul li a:link, nav ul li a:visited {
display: block;
width: 150px;
margin-right: auto;
margin-left:auto;
color: #000000;
padding: 2px 4px 2px 4px;
background-color: #ffffff;
text-decoration: none;
text-align: center;
}
nav ul li a:hover {
color: #ffffff;
background-color: #9b30ff;
}



table {
    width: 400px;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    
}

th{
    background-color: #04AA6D;
    color: white;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
}

td{
    border: 1px solid;
}


.table-header{
    text-align: center;
    border: none;
    background-color: #ffffff;
    color: #000000;
}

.fancy{
    font-family: "Lucida Console", "Courier New", monospace;
    text-shadow: 4px 4px 3px #77f;
}